/********************************
***            FONTS          ***
********************************/
@font-face {
  font-family: "theHalloween";
  src: url("../media/fonts/The_Halloween.ttf");
}
/********************************
***       COLOR PALETTE       ***
********************************/
/* Media Queries simplified using Sass mixins
========================================================= */
/********************************
***       COMMON STYLES       ***
********************************/
html,
body,
section {
  margin: 0;
  padding: 0;
}

.btn-orange {
  background-color: #F66C13;
  color: #FDF0BB;
  border-radius: 50px;
  pointer-events: auto;
}

.btn-purple {
  background-color: #4A347D;
  color: #FDF0BB;
  border-radius: 50px;
}

.text-color-moon {
  color: #FDF0BB;
}

.creepy-font {
  font-family: "theHalloween" !important;
}

/********************************
***        START POINT        ***
********************************/
#splatter {
  right: 0;
  background: url("../media/images/index/blood-orange 1.png");
  position: absolute;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  left: 50%;
}

div h1 {
  font-size: 3rem;
}
@media (min-width: 768px) {
  div h1 {
    font-size: 5rem;
    text-align: center;
  }
}

@media (max-width: 576px) {
  #startPoint .container-md #gridBtn {
    margin-top: 80%;
  }
}
@media (min-width: 768px) {
  #startPoint .container-md #gridBtn {
    margin-top: 25.5%;
  }
}
@media (min-width: 992px) {
  #startPoint .container-md #gridBtn {
    margin-top: 17.5%;
  }
}
@media (min-width: 1200px) {
  #startPoint .container-md #gridBtn {
    margin-top: 20%;
  }
}
@media (min-width: 1400px) {
  #startPoint .container-md #gridBtn {
    margin-top: 12.5%;
  }
}
@media (min-width: 1600px) {
  #startPoint .container-md #gridBtn {
    margin-top: 15%;
  }
}

/********************************
***      FORM ADDPLAYERS      ***
********************************/
.background-papyrus {
  right: 0;
  background: url("../../../media/images/index/background-papyrus.png");
  background-repeat: no-repeat;
  overflow-x: auto;
  overflow-y: scroll;
  position: absolute;
  background-position: 50% 10%;
  width: 100%;
  z-index: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 9%;
  padding-right: 2%;
}
.background-papyrus #formAddSacrifice {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
}
.background-papyrus #formAddSacrifice #btn-closeAddPlayers {
  margin-top: 45%;
}
@media (min-width: 1400px) {
  .background-papyrus #formAddSacrifice #btn-closeAddPlayers {
    margin-top: 40%;
  }
}

/********************************
***       FOG ANIMATION       ***
********************************/
.spooky-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fff;
}
.spooky-container .background-img-container {
  background: url("../media/images/index/background-start.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 0;
  /*
  .update-area {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
  }*/
}
@media (min-width: 1600px) {
  .spooky-container .background-img-container {
    background-size: cover;
  }
}
@media (max-width: 576px) {
  .spooky-container .background-img-container {
    background-position-x: 85%;
  }
}
.spooky-container .background-img-container .fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.spooky-container .background-img-container .fog-container .img-area {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}
.spooky-container .background-img-container .fog-container .fog {
  background: url("../media/images/index/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: animate 65s linear infinite;
          animation: animate 65s linear infinite;
}
.spooky-container .background-img-container .fog-container .fog {
  background: url("../media/images/index/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: animate 35s linear infinite;
          animation: animate 35s linear infinite;
}

/* Fog animation keyframes
========================================================= */
@-webkit-keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
/********************************
***     FOG-OUT ANIMATION     ***
********************************/
.puff-out-hor {
  -webkit-animation: puff-out-hor 2000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  animation: puff-out-hor 2000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Fog-out animation keyframes
========================================================= */
@-webkit-keyframes puff-out-hor {
  0% {
    transform: scaleX(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-hor {
  0% {
    transform: scaleX(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
}
/********************************
***     DUCK-KILL ANIMATION     ***
********************************/
.wobble-ver-left {
  -webkit-animation: wobble-ver-left 1s steps(5, end) 1s infinite alternate-reverse both;
  animation: wobble-ver-left 1s steps(5, end) 1s infinite alternate-reverse both;
}

/* duck-kill animation keyframes
========================================================= */
@-webkit-keyframes wobble-ver-left {
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-ver-left {
  100% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
}/*# sourceMappingURL=index.css.map */